#nav {
    width: 100%;
    background-color: rgba(45, 45, 85, 0.357);
    overflow: auto;
}

#nav li {
    display: inline;
    width: 100%;
}

#nav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    width: 47.49%;
    text-align: center;

    font-size: 17pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#nav a:hover {
    background-color: rgba(0, 0, 0, 0.357);
}

#nav a.active {
    background-color: #04AA6D;
  }