body {
    text-align: center;
    background-color: rgb(3, 116, 116);
    color: rgba(255, 255, 255, 0.836)
    
}

h1 { 
    font-size: 7em;
}

main {
    background-color: lightblue;
    width: 1000px;
    height: 400px;
    position: absolute;
    left: 260px;
    border: 10px groove white;
    border-radius: 5pt;
    padding-top: 50px;
    box-sizing: border-box;
    padding: 10px;
}
p {
    color: black;
    font-weight: bold;
}